body{
    display: grid;
    width: 100vw;
    height: 100vh;

    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .10) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.15) 1px, transparent 1px),
        #f2f2f2;
    background-size:
        20px 20px,
        20px 20px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
    background-position:
        0.25%;
}

#grid{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 240px;
    height: 240px;
    margin: auto;

    background-color: transparent;
}

.cell{
    width: auto;
    height: auto;
    background-color: transparent;
    border: solid black 2px;

    display: flex;
}

.symbol{
    margin: auto;
}

#c_00, #c_10, #c_20{
    border-left: none;
}
#c_00, #c_01, #c_02{
    border-top: none;
}
#c_20, #c_21, #c_22{
    border-bottom: none;
}
#c_02, #c_12, #c_22{
    border-right: none;
}

